//$green: #4af6cd;

//<ШРИФТЫ>===========================================================================================================
$titleFontFamily:  'GTWalsheimPro', sans-serif;
$textFontFamily:  'Poppins', sans-serif;

//</ШРИФТЫ>===========================================================================================================

//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$Color1: #fff;
$Color2: #3f3f3f;
$Color3: #2598e9;
$Color4: #3a559f;
