 .blog-info {
 	position: relative;

 	&:before {
 		position: absolute;
 		content: '';
 		top: 0;
 		left: 0;
 		width: 100%;
 		height: 85%;
 		background-color: #f7f7f7;
 		z-index: -1;
 	}

 	& .content-header__body {
 		min-height: 727px;
 	}

	& .content-header__column {
		&_1 {
			flex: 0 1 458 / 1343 * 100%;
		}
		&_2 {
			flex: 0 1 885 / 1343 * 100%;
		}
	}

	& .content-header__text-block {
		max-width: 371px;

		@media (max-width: $md2+px ) {
			max-width: none;
			display: block;
			padding: 40px 15px 30px;
		}
	}

 	& .content-header__logo {
 		margin-bottom: 84px;
 	}

 	& .content-header__suptitle {
 		margin-bottom: 52px;
 		color: $Color2;
 	}

 	& .content-header__title-wrap {
 		margin-bottom: 17px;
 	}

 	& .content-header__title {
 		position: static;
 		color: $Color2;
 		@include bigText(40,50);

 		@media (max-width: $md2+px ) {
 			text-align: center;
 		}

 		@media (max-width: $md4+px ) {
 			font-size: 36px;
 			line-height: 40px;
 		}
 	}
 }


 .blog-info-article {
 	padding: 36px 0 60px;
 	&__body {
 		max-width: 930px;
 		padding: 0 15px;
 		margin: 0 auto;
 		color: $Color2;
 	}
 	&__top {
		@include bigText(25,35);
		font-weight: 500;
		text-transform: none;
		max-width: 824px;

		@media (max-width: $md4+px ) {
			font-size: 20px;
			line-height: 30px;
		}

		& p {
			margin: 21px 0;
		}
 	}
 	&__main {
 		@include text(16,400,26);
 				padding-top: 5px;
		& p {
			margin: 20px 0;
			max-width: 800px;
		}
 	}
 	&__img {
 		max-width: 820px;
 		height: 0;
 		padding-bottom: 50%;
 		margin-top: 65px;
 		margin-bottom: 45px;
 	}
 }



.blog-info {
	&.insights {
		padding: 16px 0 56px;

		&:before {
			display: none;
		}
	}

	& .insights__bg-line {
		display: none;
	}
}